.legend {
    position: relative; /* Changed to relative */
    padding: 10px;
    background: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    line-height: 18px;
    color: #555;
}

.legend h4 {
    margin: 0 0 10px;
}

.legend div {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.legend span {
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}
